$white-gray: #f2f2f2;
$light-gray: #ddd;
$medium-gray: #888;
$dark-gray: #444;

$green: #a0b222;
$blue: #303e4d;

$breakpoint1: 800px;

$req-green: #2ECC40;
$req-red: #FF4136;
$req-yellow: #FFDC00;

$pre-coreq-field: lighten($req-red, 30%);
$prereq: darken($req-red, 0%);
$coreq: lighten($req-yellow, 30%);
$strict-coreq: darken($req-yellow, 0%);
$unblocked-field: lighten($req-green, 30%);
$unblocked: darken($req-green, 0%);
