// style graph
.graph {
  .link {
    transition: stroke-opacity 0.25s;
    stroke-width: 1px;
  }

  .end-marker {
    fill: $medium-gray;
  }

  .item-cell {
    rx: 2;
    ry: 2;
    fill: $white-gray;
    opacity: 0.7;
  }
}

// style graph term
.graph-term {
  .term-title {
    rect {
      fill: $blue;
      rx: 2;
      ry: 2;
    }

    text {
      fill: white;
      font-weight: bold;
      text-anchor: middle;
      dominant-baseline: middle;
    }
  }
}

// style graph item
.graph-item {
  transition: opacity 0.25s;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  text {
    fill: $dark-gray;
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: bold;
  }

  circle {
    transition: all 0.25s;
    fill: $light-gray;
    stroke: $dark-gray;
    stroke-width: 2px;
  }

  &:hover {
    circle {
      fill: $medium-gray;
    }

    .item-credits {
      fill: $white-gray;
    }
  }
}

// desktop layout
@media (min-width: $breakpoint1 + 1) {
  .graph .link {
    stroke: #999;
  }

  .graph-term {
    .term-title {
      text {
        font-size: 15px;
      }
    }

    .term-credits {
      rect {
        fill: none;
        stroke: $blue;
        stroke-dasharray: 3, 2;
        rx: 2;
        ry: 2;
      }

      text {
        font-size: 14px;
        text-anchor: middle;
        dominant-baseline: middle;
      }
    }
  }

  .graph-item {
    text {
      font-size: 12px;
    }
  }
}

// mobile layout
@media (max-width: $breakpoint1) {
  .graph .link {
    stroke: #bbb;
  }

  .graph-term {
    .term-title {
      text {
        font-size: 11px;
      }
    }
  }

  .graph-item {
    text {
      font-size: 10px;
    }
  }
}

.note {
  margin-top: 20px;
  background: lighten($blue, 70%);
  border: 1px solid lighten($blue, 30%);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
