// style grid
.grid {
  // border: 1px solid $white-gray;
}

// style grid term
.grid-term {
  flex: 1 0 0;

  .term-title {
    background: $blue;
    color: white;
    font-weight: bold;
    border-radius: 2px;
  }
}

// style grid item
.grid-item {
  transition: background-color 0.25s, opacity 0.25s;
  background: $white-gray;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  position: relative;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  &:hover {
    background: $light-gray;
    opacity: 1;
  }

  .item-credits {
    position: absolute;
    color: $medium-gray;

    &:after {
      content: 'Credits'
    }
  }
}

// desktop layout
@media (min-width: $breakpoint1 + 1) {
  .grid {
    display: flex;
    table-layout: fixed;
  }

  .grid-term {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: 0;
    font-size: 15px;

    .term-title {
      margin: 3px;
      padding: 5px 0px;
      div {
        white-space: nowrap;
        text-align: center;
      }
    }

    .term-credits {
      text-align: center;
      padding: 5px 0px;
      margin: 3px;
      border-radius: 2px;
      border: 1px dashed $blue;
      white-space: nowrap;
      font-size: 14px;
    }
  }

  .grid-item {
    margin: 3px;
    height: 90px;
    padding: 5px;

    .item-title {
      font-size: 14px;
      font-weight: bold;
    }

    .item-title2,
    .item-title3 {
      font-size: 12.5px;
    }

    .item-credits {
      right: 5px;
      bottom: 5px;
      font-size: 8pt;
    }
  }
}

// mobile layout
@media (max-width: $breakpoint1) {
  .grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    border-spacing:3px;
  }

  .grid-term {
    display: table-row;

    .term-title {
      position: relative;
      display: table-cell;
      height: 50px;
      width: 20px;
      min-width: 20px;
      font-size: 11px;
      div {
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      }
    }

    .term-credits {
      display: none;
    }
  }

  .grid-item {
    display: table-cell;
    height: 50px;
    max-height: 50px;
    padding: 3px;

    .item-title {
      font-size: 11px;
      font-weight: bold;
    }

    .item-title2,
    .item-title3 {
      font-size: 9px;
    }

    .item-title3 {
      display: none;
    }

    .item-credits {
      right: 3px;
      bottom: 3px;
      font-size: 7pt;
    }
  }
}
