// modal overlay
.v--modal-overlay {
  background: rgba(0, 0, 0, 0.6);
}

// modal transition
.modal-enter-active,
.modal-leave-active {
  transition: all .25s;
}

.modal-enter,
.modal-leave-to {
  transform: translateY(50px);
}

.modal-enter-to,
.modal-leave {
  transform: translateY(0px);
}

// modal styles
.vue-degree-plan-modal {
  padding-bottom: 0px;
  max-height: 100%;
  overflow: auto;

  .v--modal-box {
    margin-bottom: 0px !important;
    top: 40px !important;
    padding: 50px 0px;
    @media (max-width: 600px) {
      width: 100% !important;
      top: 0 !important;
      left: 0 !important;
      border-radius: 0px !important;
      max-height: 100vh;

      .item-description {
        max-height: calc(100vh - 100px);
      }
    }
  }

  .modal-close-icon {
    transition: all 0.25s;
    position: absolute;
    top: 0;
    right: 0;
    color: $medium-gray;
    padding: 5px 10px;
    font-size: 25px;
    z-index: 3;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
    }
    &:before {
      content: '\00d7';
    }
  }


  .modal-header,
  .modal-close-button {
    padding: 15px;
    background: $white-gray;

    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .modal-close-button {
    bottom: 0;
    transition: all 0.25s;
    color: $medium-gray;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid $light-gray;
    &:hover {
      background: $light-gray;
      color: $dark-gray;
    }
    &:before {
      content: 'Close';
    }
  }

  .modal-header {
    top: 0;
    border-bottom: 1px solid $light-gray;
    font-weight: bold;
  }
}

// plan item modal specific styles
.item-modal {
  .item-description {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 20px 15px;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }

  .item-requirement,
  .item-course,
  .item-spec {
    border: 1px dashed $medium-gray;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;

    .course-title {
      padding: 10px 30px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    &:before {
      width: 100%;
      color: $medium-gray;
      text-align: center;
      font-size: 9pt;
      font-style: italic;
      position: absolute;
      top: -20px;
      left: 0;
    }

    .item-requirement-content,
    .item-course-content,
    .item-spec-content {
      // max-height: 400px;
      // overflow: auto;
      padding: 10px;
    }
  }

  .item-requirement:before {
    content: 'Requirement Breakdown';
  }

  .item-course:before {
    content: 'Course Information';
  }

  .item-spec:before {
    content: 'Course Information';
  }
}
