// style plan term
.plan-term {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .term-head {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid $light-gray;
    .term-credits {
      text-align: right;
      font-size: 13px;
      flex: 0 0 150px;
      div {
        display: inline-block;
        background: $blue;
        color: white;
        text-align: center;
        padding: 5px 10px;
        border-radius: 4px;
      }
    }
    .term-title {
      flex: 1 0 0;
      font-weight: bold;
      font-size: 20px;
      font-family: Roboto Condensed,serif;

      span {
        font-weight: normal;
        color: rgb(63, 63, 63);
      }
    }
  }
}

// style plan item
.plan-item {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid $light-gray;
  flex-wrap: wrap;
  cursor: pointer;

  &:hover {
    background: $white-gray;
  }

  .item-name {
    flex: 6 0 0;
    color: $dark-gray;
    font-weight: bold;
    span {
      display: inline-block;
    }
  }

  .item-grade,
  .item-credits {
    text-align: right;
    flex: 0 0 150px;
    color: $medium-gray;
    font-size: 12px;
    margin-top: 3px;
    white-space: nowrap;
  }

  @media(max-width: 480px) {
    .item-grade,
    .item-credits {
      flex: 0 0 50%;
      margin-top: 10px;
    }

    .item-grade {
      text-align: left;
    }

    .item-name {
      flex: 0 0 100%;
      display: block;
    }
  }
}

.plan-download-icon {
  text-align: right;

  & > div {
    cursor: pointer;
    display: inline-block;
    border: 1px solid $light-gray;
    color: $dark-gray;
    border-radius: 4px;
    text-align: center;
    padding: 7px;
    font-size: 13px;
    span {
      position: relative;
      top: 2px;
    }

    &:hover {
      background: $white-gray;
    }
  }
}
