.requirement .requirement {
  background: transparentize($medium-gray, 0.3);
  padding-left: 10px;

  .reqinfo {
    background: white;
  }
}

.coreinfo {
  position: relative;
  &:before {
    content: 'CORE';
    position: absolute;
    top: 4px;
    left: 30px;
    z-index: 1;
    color: $medium-gray;
    font-size: 10px;
    font-style: italic;
  }
  .core-options {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }
}

.requirement,
.core {
  .requirement-name,
  .core-name {
    font-size: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  .toggle-nested {
    position: absolute;
    top: 17px;
    left: 10px;
  }
}

.special-requirement {
  .multiselect {
    margin-bottom: 20px;
  }

  .multiselect__option--highlight {
    &,
    &::after {
      background: #ccc;
    }
  }

  .multiselect__content-wrapper {
    z-index: 10000;
    position: relative;
  }

  .special-requirement-label {
    text-align: center;
    font-style: italic;
    font-size: 9pt;
  }
}

.option-caption {
  font-size: 8pt;
  font-weight: bold;
}

.right {
  float: right;
}

.option-group {
  text-align: center;
  font-weight: bold;
  // padding-top:15px;
  // padding-bottom:15px;
}

.multiselect__option--group {
  background: #555 !important;
}

.reqinfo {
  position: relative;
}

.req-item {
  padding-top: 16px;
  float: right;
  width: 190px;
  text-align: left;

  font-size: 12px;
}

.req-satisfy {
  margin-top: -5px;
  padding: 5px 10px;
  display: inline-block;

  color: white;
  font-size: 12px;
  background-color: $green;
  font-weight: bold;
  border-radius: 2px;

  &.credits {
    border-radius: 0 2px 2px 0;

    &.blue {background-color: $blue;}
  }

  &.variable {
    padding: 4px 10px;
    margin-right: 0;

    color: $green;
    border: 1px solid $green;
    background-color: rgba(white, 0);
    border-radius: 2px 0 0 2px;

    &.blue {border-color: $blue; color: $blue;}
  }
}

.requirement-name,
.subrequirement-name,
.course-name,
.wildcard-name,
.core-name {
  width: 40%;
  margin: 0;
  padding: 15px 30px;

  background-color: transparent;
  border: none;
  float: left;
  font-weight: bold;
}

.course-description {
  margin-left: 30px;
  padding-bottom: 10px;
}

.course-prereq,
.course-coreq {
  margin-left: 30px;
  .vue-course-requisite {
    display: inline-block;
  }
}

.variable-credits {
  width: 30px;
  padding: 5px;
  border-radius: 3px;

  &:hover {opacity: 0.7;}

  &:focus {
    outline: none;
  }
}

.clear {
  clear: both;
}
