.prereq {
  background: $prereq;
  circle {
    stroke: darken($prereq, 20%);
    fill: $prereq;
  }
}

.coreq {
  background: $coreq;
  circle {
    stroke: darken($coreq, 20%);
    fill: $coreq;
  }
}

.strict-coreq {
  background: $strict-coreq;
  circle {
    stroke: darken($strict-coreq, 20%);
    fill: $strict-coreq;
  }
}

.pre-coreq-field {
  background: $pre-coreq-field;
  circle {
    stroke: darken($pre-coreq-field, 20%);
    fill: $pre-coreq-field;
  }
}

.unblocked {
  background: $unblocked;
  circle {
    stroke: darken($unblocked, 20%);
    fill: $unblocked;
  }
}

.unblocked-field {
  background: $unblocked-field;
  circle {
    stroke: darken($unblocked-field, 20%);
    fill: $unblocked-field;
  }
}

.link {
  &.coreq,
  &.strict-coreq {
    stroke-dasharray: 5, 5;
  }
}

.no-association {
  opacity: 0.3;
}

.no-association2 {
  opacity: 0.1;
}

.requisite-legend {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: $white-gray;
  border: 1px solid $light-gray;
  padding: 10px;
  background: rgba(250, 250, 250, 0.8);
  z-index: 10;
  color: $dark-gray;
  pointer-events: none;

  div {
    padding: 2px;
    text-transform: capitalize;
  }

  span {
    display: inline-block;
    width: 13px;
    height: 13px;
  }
}

// modal transition
.legend-enter-active,
.legend-leave-active {
  transition: all .25s;
}

.legend-enter,
.legend-leave-to {
  opacity: 0;
  transform: translateX(50%);
}

.legend-enter-to,
.legend-leave {
  opacity: 1;
  transform: translateX(0%);
}
