<template>
  <div class="course-requirement req">
    <div class="reqinfo">
      <div class="course-name req-name">
        {{name}}
      </div>

      <!-- Display attempts, credit hours and minimum grade -->
      <div v-if="req.advanced" class="req-item">Credit Hours: {{req.credits}}</div>
      <div class="req-item" v-else>Credit Hours: {{req.course.minimum_credits}}</div>
      <div class="req-item">Minimum Grade: {{req.minimum_grade}}</div>
      <div v-if="req.advanced" class="req-item">Attempts: {{req.attempts}}</div>


      <div class="clear"></div>

      <course :course = 'req.course'></course>
    </div>
  </div>
</template>

<script>
  import Course from './Course.vue'

  export default {
    // Properties
    // Req - The requirement object
    props: ['req'],

    components: {
      Course
    },

    methods: {
      // used to roll credit count up to parent requirement sets
      computeMinimumCredits () {
        return this.req.credits
      }
    },

    computed: {
      name () {
        const course = this.req.course
        return course.name === course.full_number ? course.name : `${course.full_number} - ${course.name}`
      }
    }
  }
</script>
