<template>
  <div>
    <div class="course-description" v-if="course.description">
      Course Description: {{course.description}}
    </div>

    <div class="course-prereq" v-if = 'course.prereq'>
      Prerequisites:
      <requisites-string
        :operand = 'course.prereq'
        requisiteType = 'prereq'
      ></requisites-string>
    </div>

    <div class="course-coreq" v-if = 'course.coreq'>
      Corequisites:
      <requisites-string
        :operand = 'course.coreq'
        requisiteType = 'coreq'
      ></requisites-string>
    </div>
  </div>
</template>

<script>
  import { RequisitesString } from '@unm-idi/vue-course-requisite'

  export default {
    // Properties
    // Course - The course object
    props: ['course'],

    components: {
      RequisitesString
    }
  }
</script>
