<template>
  <g class = 'graph-term'>
    <g class = 'term-title' :transform = '`translate(${itemCellX(term)}, ${margin})`'>
      <rect
        :width = 'headerInnerWidth'
        :height = 'headerInnerHeight'
      ></rect>
      <text :x = 'headerInnerWidth / 2' :y = 'headerInnerHeight / 2 + 1.5'>
        {{ termName }}
      </text>
    </g>

    <!-- Term Items -->
    <g class = 'term-items'>
      <g
        is = 'item'
        v-for = 'item in sortedPlanItems'
        :item = 'item'
        :key = 'item.id'
        :selected = 'selectedPlanItem === item'
        :hovered-plan-item = 'hoveredPlanItem'
        :transform = '`translate(${itemCenterX(term)}, ${itemCenterY(term, item)})`'
        :radius = 'radius'
        @click.native = 'click(item)'
        @mouseover.prevent.native = 'mouseOver(item)'
        @mouseout.prevent.native = 'mouseOut()'
        @touchstart.native = 'touchStart(item)'
        @touchend.native = 'touchEnd(item)'
      ></g>
    </g>

    <g class = 'term-credits' :transform = 'transformCredits'>
      <rect
        :width = 'headerInnerWidth'
        :height = 'headerInnerHeight'
      ></rect>
      <text :x = 'headerInnerWidth / 2' :y = 'headerInnerHeight / 2 + 1.5'>
        {{ term.credits }} Credits
      </text>
    </g>
  </g>
</template>

<script>
  import Item from './GraphItem'
  import graphTermMixin from '../mixins/graphTerm.js'
  import planTermMixin from '../mixins/planTerm.js'
  import { maxBy } from 'lodash'

  export default {
    mixins: [planTermMixin, graphTermMixin],

    components: {
      Item
    },

    computed: {
      transformCredits () {
        const lastItem = maxBy(this.term.plan_items, i => i.position)
        const pseudoItem = {
          position: (lastItem || {position: -1}).position + 1
        }
        return `translate(${this.itemCellX(this.term)}, ${this.itemCellY(this.term, pseudoItem)})`
      }
    }
  }
</script>
