<template>
  <path
    class = 'link'
    fill = 'transparent'
    :d = 'd'
    :class = '[hoveredClass, link.type]'
    marker-end = 'url(#Triangle)'
  />
</template>

<script>
  import { some, includes } from 'lodash'
  import { linkHorizontal, linkVertical } from 'd3-shape'

  export default {
    data () {
      return {
        linkHorizontal: linkHorizontal(),
        linkVertical: linkVertical()
      }
    },

    props: {
      hoveredPlanItem: {
        type: Object
      },

      link: {
        type: Object,
        required: true
      },

      radius: {
        type: Number,
        required: true
      },

      orient: {
        type: String,
        default: 'horizontal'
      }
    },

    computed: {
      hoveredClass () {
        if (!this.hoveredPlanItem) return
        if (!(this.scanField('sources', this.s.item) || this.scanField('targets', this.t.item))) {
          return 'no-association2'
        }
      },

      // source
      s () {
        return this.link.source
      },

      // target
      t () {
        return this.link.target
      },

      // path d
      d () {
        const directionX = this.s.x < this.t.x ? 1 : -1
        const directionY = this.s.y < this.t.y ? 1 : -1

        if (this.orient === 'vertical') {
          if (this.s.x === this.t.x) {
            return `M ${[this.s.x, this.s.y + directionY * this.radius]} L ${[this.t.x, this.t.y - directionY * this.linkOffset]}`
          } else {
            return this.linkHorizontal({
              source: [this.s.x + directionX * this.radius, this.s.y],
              target: [this.t.x - directionX * this.linkOffset, this.t.y]
            })
          }
        } else {
          if (this.s.y === this.t.y) {
            return `M ${[this.s.x + directionX * this.radius, this.s.y]} L ${[this.t.x - directionX * this.linkOffset, this.t.y]}`
          } else {
            return this.linkVertical({
              source: [this.link.source.x, this.link.source.y + directionY * this.radius],
              target: [this.link.target.x, this.link.target.y - directionY * this.linkOffset]
            })
          }
        }
      },

      linkOffset () {
        return this.radius + 6
      },

      markerPath () {
        return `url(${location.href}#end)`
      }
    },

    methods: {
      // type: 'sources' or 'targets'
      scanField (type, item, alreadyScanned = []) {
        return item === this.hoveredPlanItem || some(item[type].all, i => {
          if (includes(alreadyScanned, i)) return
          alreadyScanned.push(i)
          return this.scanField(type, i, alreadyScanned)
        })
      }
    }
  }
</script>
