<template>
  <g class = 'graph-term'>
    <g class = 'term-title' :transform = '`translate(${margin * 2}, ${itemCellY(term)})`'>
      <rect
        :width = 'headerInnerWidth'
        :height = 'headerInnerHeight'
      ></rect>

      <text
        :x = 'headerInnerWidth / 2'
        :y = 'headerInnerHeight / 2'
        :transform = '`rotate(-90, ${headerInnerWidth / 2}, ${headerInnerHeight / 2})`'
        dy = '1'
        dominant-baseline = 'central'
      >
        {{ termName }}
      </text>
    </g>

    <!-- Term Items -->
    <g class = 'term-items'>
      <g
        is = 'item'
        v-for = 'item in sortedPlanItems'
        :item = 'item'
        :key = 'item.id'
        :selected = 'selectedPlanItem === item'
        :hovered-plan-item = 'hoveredPlanItem'
        :transform = '`translate(${itemCenterX(term, item)}, ${itemCenterY(term)})`'
        :radius = 'radius'
        @click.native = 'click(item)'
        @mouseover.prevent.native = 'mouseOver(item)'
        @mouseout.prevent.native = 'mouseOut()'
        @touchstart.native = 'touchStart(item)'
        @touchend.native = 'touchEnd(item)'
      ></g>
    </g>
  </g>
</template>

<script>
  import Item from './GraphItem'
  import graphTermMixin from '../mixins/graphTerm.js'
  import planTermMixin from '../mixins/planTerm.js'

  export default {
    mixins: [planTermMixin, graphTermMixin],

    components: {
      Item
    }
  }
</script>
