<template>
  <g class = 'graph-item' :class = 'hoveredAssociation'>
    <circle :r = 'radius'></circle>
    <text class = 'item-credits' y = '1.5'>{{ item.credits }}</text>
    <text class = 'item-name' :y = 'radius * 2'>{{ nodeTitle }}</text>
  </g>
</template>

<script>
  import planItemMixin from '../mixins/planItem.js'

  export default {
    props: {
      radius: {
        type: Number,
        default: 15
      }
    },

    mixins: [planItemMixin],

    computed: {
      nodeTitle () {
        const name = this.names.name
        const code = this.names.code
        if (code) {
          return code
        } else if (name) {
          return name.length > 10 ? name.slice(0, 8) + '...' : name
        }
      }
    }
  }
</script>
