<template>
  <div
    class = 'vue-degree-plan'
  >    <!-- Custom plan-item-modal slot can be provided, whenever the modal is to be closed the method closePlanItemModal should be called -->
    
    <div class = 'plan-download-icon' @click = 'downloadCsv'>
      <div>
        Download <i class="fa fa-download"></i>
      </div>
    </div>

    <slot
      name = 'plan-item-modal'
      :item = 'selectedPlanItem'
    >
      <planItemModal
        :item = 'selectedPlanItem'
        :special-requirements = 'specialRequirements'
        :special-requirement-selections = 'specialRequirementSelections'
        @closed = 'clearSelect'
      ></planItemModal>
    </slot>

    <transition name = 'legend'>
      <requisite-legend v-if = 'showRequisiteLegend'>
      </requisite-legend>
    </transition>

    <div :class = 'identifier' ref = 'graph'>
      <svg
        :is = 'graphComponent'
        :terms = 'sortedTerms'
        :graph-width = 'graphWidth'
        :orient = 'graphComponent'
        :selected-plan-item.sync = 'selectedPlanItem'
        :hovered-plan-item.sync = 'hoveredPlanItem'
        :term-identifier = 'termIdentifier'
        :custom-term-name = 'customTermName'
      ></svg>
    </div>
    <div class="note">NOTE: An arrow represents a corequisite/prerequisite relationship between courses within a degree plan. See legend for more details.</div>

  </div>
</template>

<script>
  import Vertical from './GraphSvgVertical.vue'
  import Horizontal from './GraphSvgHorizontal.vue'
  import planMixin from '../mixins/plan.vue'

  export default {
    data () {
      return {
        identifier: 'graph',
        // mobile, desktop breakpoint
        breakpoint: 800,
        pageWidth: 0,
        graphWidth: 0
      }
    },

    mixins: [planMixin],

    components: {
      Vertical,
      Horizontal
    },

    mounted () {
      this.updateWidths()
      window.addEventListener('resize', this.updateWidths)
    },

    beforeDestroy () {
      window.removeEventListener('resize', this.updateWidths)
    },

    methods: {
      updateWidths () {
        this.pageWidth = window.innerWidth
        this.graphWidth = this.$refs.graph.getBoundingClientRect().width
      }
    },

    computed: {
      // term component vertical or horizontal
      graphComponent () {
        return this.pageWidth <= this.breakpoint ? 'horizontal' : 'vertical'
      }
    }
  }
</script>
