<template>
  <div class = 'grid-item' :class = 'hoveredAssociation'>
    <div class = 'item-content'>
      <div class = 'item-title' v-if = 'names.code'>
        {{ names.code }}
      </div>
      <div class = 'item-title2' v-if = 'names.name'>
        {{ names.name }}
      </div>
    </div>
    <div class = 'item-credits'>
      {{ item.credits }}
    </div>
  </div>
</template>

<script>
  import planItemMixin from '../mixins/planItem.js'

  export default {
    mixins: [planItemMixin]
  }
</script>
