<template>
  <div
    class='grid-term'
  >
    <div class = 'term-title'><div>{{ termName }}</div></div>

    <!-- Term Items -->
    <item
      v-for = 'item in sortedPlanItems'
      :item = 'item'
      :key = 'item.id'
      :selected = 'selectedPlanItem === item'
      :hovered-plan-item = 'hoveredPlanItem'
      @click.native = 'click(item)'
      @mouseover.prevent.native = 'mouseOver(item)'
      @mouseout.prevent.native = 'mouseOut()'
      @touchstart.native = 'touchStart(item)'
      @touchend.native = 'touchEnd(item)'
    ></item>

    <div class = 'term-credits'><div>{{term.credits}} Credits</div></div>
  </div>
</template>

<script>
  import Item from './GridItem.vue'
  import planTermMixin from '../mixins/planTerm.js'

  export default {
    mixins: [planTermMixin],

    components: {
      Item
    }
  }
</script>
