<template>
  <modal
    @closed = '$emit("closed")'
    :adaptive = 'true'
    :pivot-y = '0.1'
    :scrollable = 'true'
    classes = 'v--modal item-modal'
    class = 'vue-degree-plan-modal'
    width = '80%'
    height = 'auto'
    name = 'plan-item-modal'
    transition = 'modal'
  >
    <template v-if = 'item'>
      <div
        class = 'modal-header'
      >
        {{ names.longName }}
      </div>

      <div
        class = 'modal-close-icon'
        @click = '$emit("closed")'
      ></div>

      <div class = 'item-description'>
        <div class = 'item-spec' v-if = 'showMyPlanItemSpec'>
          <div class = 'item-spec-content'>
            <requisites-interface
              v-model = 'item.plan_item_spec'
              :editing = 'false'
              :showTypes = 'false'
              requisiteType = 'plan_item_spec'
            ></requisites-interface>
          </div>
        </div>

        <br v-if = 'item.requirement && showMyPlanItemSpec'>

        <div class = 'item-requirement' v-if = 'item.requirement'>
          <div class = 'item-requirement-content'>
            <requirement
              :req = 'item.requirement'
              :special-requirements = 'specialRequirements'
              :special-requirement-selections = 'specialRequirementSelections'
              :key = 'item.requirement.id'
            >
            </requirement>
          </div>
        </div>
        <div v-if = '!item.requirement && !myCourse'>No additional information.</div>
      </div>

      <div
        class = 'modal-close-button'
        @click.stop = '$emit("closed")'
      >
      </div>
    </template>
  </modal>
</template>

<script>
  import Requirement from './Requirement'
  import Course from './Course.vue'
  import RequisitesInterface from '@unm-idi/vue-course-requisite'
  import planItemMixin from '../mixins/planItem.js'

  export default {
    props: {
      item: {
        type: Object
      },
      specialRequirements: {
        type: Object
      },
      specialRequirementSelections: {
        type: Object
      }
    },

    mixins: [planItemMixin],

    watch: {
      item (item) {
        this.$modal[item ? 'show' : 'hide']('plan-item-modal')
      }
    },

    components: {
      Requirement,
      Course,
      RequisitesInterface
    },

    computed: {
      showMyCourse () {
        return this.myCourse && (!this.req || !this.req.course || !this.myCourse || this.req.course.id !== this.myCourse.id)
      },

      showMyPlanItemSpec () {
        return this.item.plan_item_spec && (!this.req || !this.req.course || this.item.plan_item_spec.course || this.req.course.id !== this.item.plan_item_spec.course.id)
      }
    }
  }
</script>
