<template>
  <div class = 'plan-item'>
    <div class = 'item-name'>
      {{ names.longName }}
    </div>
    <div class = 'item-grade'>
      <template v-if = 'showMinimumGrade && item.requirement.minimum_grade'>
        Minimum Grade: <b>{{item.requirement.minimum_grade}}</b>
      </template>
      <template v-else-if = 'planItemSpecMinimumGrade'>
        Minimum Grade: <b>{{planItemSpecMinimumGrade}}</b>
      </template>
      <template v-else-if = 'requirementMinimumGrade'>
        Minimum Grade: <b>{{requirementMinimumGrade}}</b>
      </template>
    </div>
    <div class = 'item-credits'>Credit Hours: <b>{{item.credits}}</b></div>
  </div>
</template>

<script>
  import planItemMixin from '../mixins/planItem.js'

  export default {
    mixins: [planItemMixin]
  }
</script>
