<template>
  <div
    class='plan-term'
  >
    <!-- Term Number and Credits -->
    <div class = 'term-head'>
      <div class = 'term-title'>
        {{ termName }} 
        <span v-if='alternativeName'>
          {{alternativeName}}
        </span>
      </div>
      
      <div class = 'term-credits'>
        <div class = 'ds-alt ds-background'>{{term.credits}} Credit Hours</div>
      </div>
    </div>

    <!-- Term Items -->
    <item
      v-for = 'item in sortedPlanItems'
      :item = 'item'
      :key = 'item.id'
      :selected = 'selectedPlanItem === item'
      :hovered-plan-item = 'hoveredPlanItem'
      @click.native = '$emit("update:selectedPlanItem", item)'
      @mouseover.native = '$emit("update:hoveredPlanItem", item)'
      @mouseout.native = '$emit("update:hoveredPlanItem", null)'
    ></item>
  </div>
</template>

<script>
  import Item from './PlanItem.vue'
  import planTermMixin from '../mixins/planTerm.js'

  export default {
    mixins: [planTermMixin],

    components: {
      Item
    },
    computed: {
      alternativeName () {
        return this.term.alternative_name ? ('(' + this.term.alternative_name + ')') : null
      }
    }
  }
</script>
