<template>
  <span class = 'vue-degree-plan'>
    <div class="coreinfo" v-if="req.type == 'CoreRequirement'">
      <requirement
        ref='requirement'
        :req="req.core"
      ></requirement>
    </div>
    <div class="specialinfo" v-else-if="req.type == 'SpecialRequirement'">
      <special-requirement
        ref='requirement'
        :req="req"
        :special-requirements = 'specialRequirements'
        :special-requirement-selections = 'specialRequirementSelections'
      ></special-requirement>
    </div>
    <div class="requirement" v-else>
      <component
        :req="req"
        :is='req.type'
        ref = 'requirement'
      ></component>
    </div>
  </span>
</template>

<script>
  import DegreeRequirement from './DegreeRequirement.vue'
  import CourseRequirement from './CourseRequirement.vue'
  import WildCardRequirement from './WildcardRequirement.vue'
  import SpecialRequirement from './SpecialRequirement.vue'

  export default {
    name: 'requirement',

    props: {
      req: true,
      specialRequirements: {
        type: Object
      },
      specialRequirementSelections: {
        type: Object
      },
      collapsed: {
        type: Boolean,
        default: false
      }
    },

    components: {
      DegreeRequirement,
      CourseRequirement,
      WildCardRequirement,
      SpecialRequirement
    },

    mounted () {
      if (this.collapsed) this.setCollapseState(false)
    },

    methods: {
      setCollapseState (state) {
        const ref = this.$refs.requirement
        if (ref.setCollapseState) ref.setCollapseState(state)
      },

      computeMinimumCredits () {
        const ref = this.$refs.requirement
        return ref ? ref.computeMinimumCredits() || 0 : 0
      }
    }
  }
</script>
