<template>
  <div class = 'requisite-legend'>
    <div v-for = 'item in items'>
      <span :class = 'item'></span>
      {{ item.replace('req', 'requisite').replace(/-/g, ' ') }}
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: ['strict-coreq', 'coreq', 'prereq', 'pre-coreq-field', 'unblocked', 'unblocked-field']
      }
    }
  }
</script>
