<template>
  <div class="special-requirement">
    <template v-if="subrequirements">
      <div class="special-requirement-label">{{ reqConfig.name }}</div>
      <Requirement
        v-for="requirement in subrequirements"
        :key="requirement.id"
        :req="requirement"
        :collapsed="true"
      >
      </Requirement>
    </template>
    <template v-else>
      This requirement can be satisfied by a {{ allowedString }}. A minimum of {{ requirement.minimum_credits }} credit hours must be completed to satisfy this requirement. Select from the following list to load the requirements associated with a particular {{ allowedString }}.
      <br><br>
      <multiselect
        v-model="selected"
        :options="options"
        group-values="values"
        group-label="type"
        track-by="key"
        label="name"
        :placeholder="searchPlaceholder"
        hide-selected
      >
        <template slot="singleLabel" slot-scope="props">
          <div class="option-caption">{{ props.option.unit.code }} <div class="right">{{ props.option.degreeTypeString }}</div></div>
          <div>{{ props.option.name }}</div>
        </template>
        <template slot="option" slot-scope="props">
          <div v-if="props.option.$isLabel" class="option-group">
            {{ props.option.$groupLabel }}
          </div>
          <span v-else>
            <div class="option-caption">{{ props.option.unit.code }} <div class="right">{{ props.option.degreeTypeString }}</div></div>
            <div>{{ props.option.name }}</div>
          </span>
        </template>
      </multiselect>
      <Requirement
        v-for="requirement in selectedRequirements"
        :key="requirement.id"
        :req="requirement"
        :collapsed="true"
      >
      </Requirement>
    </template>
  </div>
</template>

<script>
  // import Requirement from './Requirement.vue'
  import Multiselect from 'vue-multiselect'
  import { get } from 'axios'
  import { default as Requirement } from './RequirementTwo'

  // import { default as Requirement } from './Requirement.vue'
  // console.log(Requirement)
  export default {
    name: 'special-requirement',

    // Properties
    // Req - The requirement object
    props: {
      req: true,
      specialRequirements: {
        type: Object
      },
      specialRequirementSelections: {
        type: Object
      }
    },

    components: {
      Multiselect,
      Requirement
      // Requirement
    },

    data () {
      return {
        selected: null,
        selectedUnit: null,
        selectedRequirements: null
      }
    },

    created () {
      this.selected = this.reqSelection
    },

    watch: {
      selected (selected) {
        this.selectedUnit = null
        this.selectedRequirements = null
        this.specialRequirementSelections[this.req.id] = selected
        if (!selected) return
        get(selected.unit.url)
          .then((response) => {
            // handle success
            // console.log(response)
            this.selectedUnit = response.data
            this.selectedRequirements = (this.selectedUnit.period_degree_joins.find(pdj => pdj.degree_type.code === this.selected.degreeType) || {})
              .requirements
              .filter(requirement => requirement.type !== 'SpecialRequirement')
          })
      }

      // selectedRequirements (requirements) {
      //   // console.log(requirements)
      // }
    },

    methods: {
    },

    computed: {
      reqSelection () {
        return this.specialRequirementSelections[this.req.id]
      },

      reqConfig () {
        return this.specialRequirements[this.req.id]
      },

      requirement () {
        return this.reqConfig.requirement
      },

      subrequirements () {
        return this.reqConfig.subrequirements && this.reqConfig.subrequirements.filter(requirement => requirement.type !== 'SpecialRequirement')
      },

      // state () {
      //   return this.specialRequirementStates[this.req.id]
      // },

      // stateRequirements () {
      //   return this.state.requirements
      // },

      // stateSavedRequirements () {
      //   return this.state.savedRequirements
      // },

      options () {
        return [
          ...(this.req.config.minor ? [{
            type: 'Minors',
            values: (this.requirement.minors_map || []).map(minor => {
              return {
                name: minor.name,
                degreeType: 'MINOR',
                degreeTypeString: 'Minor',
                key: `minor-${minor.id}`,
                unit: minor
              }
            }).sort((a, b) => ('' + a.name).localeCompare(b.name))
          }] : []),
          ...(this.req.config.second_major ? [{
            type: 'Second Majors',
            values: (this.requirement.second_majors_map || []).map(major => {
              return {
                name: major.name,
                degreeType: 'MAJOR',
                degreeTypeString: 'Major',
                key: `major-${major.id}`,
                unit: major
              }
            }).sort((a, b) => ('' + a.name).localeCompare(b.name))
          }] : [])
        ]
      },

      // selectedRequirements () {
      //   if (!this.selectedUnit) return null
      //   return (this.selectedUnit.period_degree_joins.find(pdj => pdj.degree_type.code === this.selected.degreeType) || {})
      //     .requirements
      //     .filter(requirement => requirement.type !== 'SpecialRequirement')
      // },

      searchPlaceholder () {
        return 'Select a ' + this.allowedString
      },

      allowedString () {
        let str = ''
        if (this.req.config.minor) str += 'minor'
        if (this.req.config.minor && this.req.config.second_major) str += ' or '
        if (this.req.config.second_major) str += 'second major'
        return str
      }
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>