<template>
  <div class="wildcard-requirement req">
    <div class="reqinfo">
      <!-- Wildcard Name -->
      <div class="wildcard-name">{{req.name}}</div>

      <!-- Display min and max credit hours -->
      <div class="req-item">Credit Hours:
        <template v-if = 'req.minimum_credits === req.maximum_credits'>
          {{req.minimum_credits}}
        </template>
        <template v-else>
          {{req.minimum_credits}} - {{req.maximum_credits}}
        </template>
      </div>

      <div class="req-item" v-if='req.minimum_grade'>Minimum Grade: {{req.minimum_grade}}</div>

      <div class="clear"></div>

      <!-- <div class="course-description" v-for='ruleString in ruleStrings'>
        {{ruleString}}
      </div> -->

    </div>
  </div>
</template>

<script>
  export default {
    // Properties
    // Req - The requirement object
    props: ['req'],

    methods: {
      // used to roll credit count up to parent requirement sets
      computeMinimumCredits () {
        return this.req.minimum_credits
      },
      ruleReasoning (rule) {
        // code_string:"CPTR" 2 use cases
        // exclude:false 2 use cases
        // match_string:"*" or number usually for exclude 2 use cases
        // maximum_match_number:"" Just one use case.
        // minimum_match_number:"" Just one use case.
        // 8 Use cases in total.
        var letters = /^[A-Z]+$/
        var numbers = /^\d+$/
        var rulesAnalyzed = {}
        for (var property in rule) {
          if (property === 'code_string' && rule[property].trim().match(letters) && rule.match_string !== '*' && rule.match_string !== '') {
            var HRRuleCode = `${rule[property]}`
            rulesAnalyzed['code'] = HRRuleCode
            // 1
          } else if (property === 'code_string' && rule[property].trim().match(letters)) {
            var HRRuleCodeInDept = `any ${rule[property]} course`
            rulesAnalyzed['code'] = HRRuleCodeInDept
            // 2
          } else if (property === 'code_string' && rule[property] === '*') {
            // var HRRuleCodeAll = 'all courses offered in all departments'
            var HRRuleCodeAll = 'any course'
            rulesAnalyzed['code'] = HRRuleCodeAll
            // 3
          } else if (property === 'match_string' && rule[property] === '*') {
            var HRRuleLevelAll = 'of any level'
            rulesAnalyzed['level'] = HRRuleLevelAll
            // 4
          } else if (property === 'match_string' && rule[property].trim().match(numbers)) {
            var HRRuleLevel = `${rule[property]}`
            rulesAnalyzed['level'] = HRRuleLevel
            // 5
          } else if (property === 'exclude' && rule[property] === true) {
            var HRRuleExclude = 'excluding'
            rulesAnalyzed['exclude'] = HRRuleExclude
            // 6
          } else if (property === 'minimum_match_number' && rule[property].trim().match(numbers)) {
            var HRRuleMinimum = `numbered between ${rule[property]}`
            rulesAnalyzed['minimum_match_number'] = HRRuleMinimum
            // 7
          } else if (property === 'maximum_match_number' && rule[property].trim().match(numbers)) {
            var HRRuleMaximum = `and ${rule[property]}`
            rulesAnalyzed['maximum_match_number'] = HRRuleMaximum
          }
        }
        // Rule sentence ordering logic here, before returning it.
        var orderedRuleString = { exclude: rulesAnalyzed.exclude, code: rulesAnalyzed.code, level: rulesAnalyzed.level, minimum_match_number: rulesAnalyzed.minimum_match_number, maximum_match_number: rulesAnalyzed.maximum_match_number }
        return orderedRuleString
      },
      stringsToSentence (ruleObject) {
        var ruleString = Object.values(ruleObject)
        ruleString = ruleString.join(' ').trim()
        var uppercaseFirstLetter = ruleString.charAt(0).toUpperCase() + ruleString.slice(1)
        var periodEnd = uppercaseFirstLetter + '.'
        return periodEnd
      }
    },
    computed: {
      ruleStrings () {
        var rules = this.req.rules
        var strings = []
        for (var i = 0; i < rules.length; i++) {
          strings.push(this.stringsToSentence(this.ruleReasoning(rules[i])))
        }
        return strings
      }
    }
  }
</script>
