<template>
  <svg :width = 'graphWidth' :height = 'graphHeight'>
    <marker
      id = 'Triangle'
      class = 'end-marker'
      viewBox = '0 -5 10 10'
      :refX = '0'
      markerWidth = '6'
      markerHeight = '6'
      orient = 'auto'
    >
      <path d = 'M 0 -5 L 10 0 L 0 5 z'></path>
    </marker>

    <g v-for = 'term in terms'>
      <rect
        class = 'item-cell'
        v-for = 'item in term.plan_items'
        :transform = '`translate(${itemCellX(term, item)}, ${itemCellY(term, item)})`'
        :width = 'rectWidth'
        :height = 'rectHeight'
      >
      </rect>
    </g>

    <graph-link
      v-for = 'link in links'
      :link = 'link'
      :hovered-plan-item = 'hoveredPlanItem'
      :key = 'link.id'
      :radius = 'radius'
      :orient = 'orient'
    ></graph-link>

    <g
      is = 'term'
      v-for = '(term, index) in terms'
      :key = 'term.id'
      :term = 'term'
      :item-cell-x = 'itemCellX'
      :item-cell-y = 'itemCellY'
      :item-center-x = 'itemCenterX'
      :item-center-y = 'itemCenterY'
      :header-inner-height = 'headerHeight'
      :header-inner-width = 'headerWidth'
      :margin = 'margin'
      :radius = 'radius'
      :hovered-plan-item = 'hoveredPlanItem'
      :term-number = 'index + 1'
      :term-identifier = 'termIdentifier'
      :custom-term-name = 'customTermName'
      @update:selectedPlanItem = 'item => $emit("update:selectedPlanItem", item)'
      @update:hoveredPlanItem = 'item => $emit("update:hoveredPlanItem", item)'
    ></g>
  </svg>
</template>

<script>
  import GraphLink from '../components/GraphLink.vue'
  // import { scan } from '../helpers/requisite.js'
  import { maxBy } from 'lodash'

  export default {
    data () {
      return {
        identifier: 'graph',
        // mobile, desktop breakpoint
        breakpoint: 800,
        pageWidth: 0
      }
    },

    props: {
      terms: {
        type: Array,
        required: true
      },

      graphWidth: {
        type: Number,
        required: true
      },

      selectedPlanItem: {
        type: Object
      },

      hoveredPlanItem: {
        type: Object
      },

      orient: {
        type: String,
        default: 'horizontal'
      },

      termIdentifier: {
        type: String
      },

      customTermName: {
        type: Boolean
      }
    },

    components: {
      GraphLink
    },

    computed: {
      termCount () {
        return this.terms.length
      },

      itemCount () {
        return maxBy(this.terms, t => t.plan_items.length).plan_items.length
      },

      // compile links with source / target x, y coordinates
      links () {
        const links = []

        this.terms.forEach(term => {
          term.plan_items.forEach(source => {
            ['prereq', 'coreq', 'strictCoreq'].forEach(type => {
              source.targets[type].forEach(target => {
                links.push({
                  source: {
                    item: source,
                    x: this.itemCenterX(source.term, source),
                    y: this.itemCenterY(source.term, source)
                  },
                  target: {
                    item: target,
                    x: this.itemCenterX(target.term, target),
                    y: this.itemCenterY(target.term, target)
                  },
                  type: type.replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase(),
                  id: `${source.id}-${target.id}`
                })
              })
            })
          })
        })

        return links
      }
    }
  }
</script>
