<template>
  <div
    class = 'vue-degree-plan'
  >
    <div class = 'plan-download-icon' @click = 'downloadCsv'>
      <div>
        Download <i class="fa fa-download"></i>
      </div>
    </div>

    <!-- Custom plan-item-modal slot can be provided, whenever the modal is to be closed the method closePlanItemModal should be called -->
    <slot
      name = 'plan-item-modal'
      :item = 'selectedPlanItem'
    >
      <planItemModal
        :item = 'selectedPlanItem'
        :special-requirements = 'specialRequirements'
        :special-requirement-selections = 'specialRequirementSelections'
        @closed = 'clearSelect'
      ></planItemModal>
    </slot>

    <transition name = 'legend'>
      <requisite-legend v-if = 'identifier !== "plan" && showRequisiteLegend'>
      </requisite-legend>
    </transition>

    <div :class = 'identifier'>
      <component :is = 'identifier + "-term"'
        v-for = '(term, index) in sortedTerms'
        :key = 'term.id'
        :term = 'term'
        :selected-plan-item.sync = 'selectedPlanItem'
        :hovered-plan-item.sync = 'hoveredPlanItem'
        :term-number = 'index + 1'
        :term-identifier = 'termIdentifier'
        :custom-term-name = 'customTermName'
      ></component>
    </div>
  </div>
</template>


<script>
  import PlanItemModal from '../components/PlanItemModal.vue'
  import RequisiteLegend from '../components/RequisiteLegend.vue'
  import GridTerm from '../components/GridTerm.vue'
  import PlanTerm from '../components/PlanTerm.vue'
  import { sortBy } from 'lodash'
  import { mdiDownload } from '@mdi/js'
  import { ExportToCsv } from 'export-to-csv'
  import planItemNames from '../helpers/planItemNames'

  export default {
    data () {
      return {
        specialRequirementSelections: null,
        selectedPlanItem: null,
        hoveredPlanItem: null,
        showRequisiteLegend: false,
        requisiteLegendTimeout: null,
        exportOptions: {
          filename: 'degree_plan',
          showLabels: true,
          useBom: true,
          useKeysAsHeaders: true
        },
        mdiDownload
      }
    },

    created () {
      const specialRequirementSelections = {}
      this.terms.forEach(term => {
        term.plan_items.forEach(item => {
          if (item.requirement.type === 'SpecialRequirement') {
            specialRequirementSelections[item.requirement.id] = null
          }
        })
      })
      this.specialRequirementSelections = specialRequirementSelections
    },

    watch: {
      hoveredPlanItem (item) {
        clearTimeout(this.requisiteLegendTimeout)
        if (item) this.showRequisiteLegend = true
        else {
          this.requisiteLegendTimeout = setTimeout(() => {
            this.showRequisiteLegend = false
          }, 750)
        }
      }
    },

    props: {
      terms: {
        type: Array,
        required: true
      },
      specialRequirements: {
        type: Object,
        default: () => {
          return {}
        }
      },
      termIdentifier: {
        type: String,
        default: 'Term'
      },
      customTermName: {
        type: Boolean,
        default: false
      }
    },

    components: {
      PlanItemModal,
      RequisiteLegend,
      GridTerm,
      PlanTerm
    },

    computed: {
      sortedTerms () {
        return sortBy(this.terms, 'position')
      },

      exportData () {
        return this.sortedTerms.map((term) => {
          return term.plan_items.map((item) => {
            const names = planItemNames(item)
            return {
              'Term': term.name,
              'Term Alternative Name': (term.alternative_name == null) ? '' : term.alternative_name,
              'Requirement Name': names.name,
              'Requirement Full Name': names.longName,
              'Subject Course Number': (names.code == null) ? '' : names.code,
              'Credit Hours': item.credits
            }
          })
        }).flat()
      }

      // Build term and item wrappers. Make sure not to overwrite api
      // props. But just in case there is also an `original` prop to store the
      // original object.
      // TODO: remove this, nested computed items weren't reactive for the child components
      // builtTerms () {
      //   return this.sortedTerms.map(t => {
      //     return Object.assign(t, {
      //       original: t,
      //       builtItems: sortBy(t.plan_items, 'position').map(i => {
      //         return Object.assign(i, {
      //           original: i,
      //           // scanTree: this.scanTree
      //           hoveredAssociation: this.scanTree(i)
      //         })
      //       })
      //     })
      //   })
      // },

      // itemRegistrations () {
      //   const registrations = {}
      //
      //   this.items.forEach(i => {
      //     registrations[i.id] = {}
      //   })
      //
      //   this.items.forEach(i => {
      //     this.scanItemTree(i, registrations)
      //   })
      //
      //   return registrations
      // },
      //
      // items () {
      //   return flatten(this.terms.map(t => t.plan_items))
      // }
    },

    methods: {
      clearSelect () {
        this.selectedPlanItem = null
      },

      clearHover () {
        this.hoveredPlanItem = null
      },

      downloadCsv () {
        const csvExporter = new ExportToCsv(this.exportOptions)
        csvExporter.generateCsv(this.exportData)
      }

      // getCourse (item) {
      //   return get(item, ['plan_item_spec', 'course']) ||
      //          get(item, ['requirement', 'course'])
      // },

      // // scan an item's tree and add item associations and fields to the
      // // registrations store
      // scanItemTree (item, registrations) {
      //   // target course
      //   const t = this.getCourse(item)
      //   // source course
      //   const s = this.getCourse(this.hoveredPlanItem)
      //   // association
      //   let a = null
      //
      //   if (!s) return
      //   else if (item === this.hoveredPlanItem) a = 'this-item'
      //   else if (!t) a = 'no-immediate-association'
      //   else if (
      //     (t.coreq && scan(s, t.coreq)) ||
      //     (t.prereq && scan(s, t.prereq))
      //   ) {
      //     a = 'unblocked'
      //     this.scanItemField(item, registrations, 'unblocked')
      //   } else if (s.prereq && scan(t, s.prereq, true)) {
      //     a = 'coreq'
      //     this.scanItemField(item, registrations, 'pre-coreq')
      //   } else if (s.prereq && scan(t, s.prereq)) {
      //     a = 'prereq'
      //     this.scanItemField(item, registrations, 'pre-coreq')
      //   } else if (s.coreq && scan(t, s.coreq)) {
      //     a = 'strict-coreq'
      //     this.scanItemField(item, registrations, 'pre-coreq')
      //   } else a = 'no-immediate-association'
      //
      //   if (a) registrations[item.id].association = a
      // },
      //
      // // scan the item for associated fields based on a type 'pre-coreq' or 'unblocked'
      // scanItemField (item, registrations, type) {
      //   // source course
      //   const s = this.getCourse(item)
      //
      //   this.items.forEach(i => {
      //     // target course
      //     const t = this.getCourse(i)
      //
      //     if (!registrations[i.id].field && s && t) {
      //       if (
      //         (type === 'unblocked' && ((t.coreq && scan(s, t.coreq)) || (t.prereq && scan(s, t.prereq)))) ||
      //         (type === 'pre-coreq' && ((s.coreq && scan(t, s.coreq)) || (s.prereq && scan(t, s.prereq))))
      //       ) {
      //         registrations[i.id].field = type
      //         this.scanItemField(i, registrations, type)
      //       }
      //     }
      //   })
      // }
    }
  }
</script>
